[Unit]
Description=Rover Service

[Service]
Type=exec
WorkingDirectory=/home/pi/rover
ExecStart=/usr/bin/python3 -u ./launch_rover.py
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
